In [1]:
# Import dependencies
import pandas as pd

# File to Load (Remember to change these)
vine_review_data = "vine_table.csv"

# Read the City and Ride Data
vine_df = pd.read_csv(vine_review_data)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1QX6706ZWJ1P5,5,0,0,N,Y
1,R3QWMLJHIW6P37,5,0,0,N,Y
2,R14Z1VR1N0Z9G6,5,1,1,N,Y
3,R25ZRJL0GH0U0,2,0,0,N,Y
4,R3837KYH7AZNIY,4,0,1,N,Y

In [2]:
# 1. Filter DF and create a new DF where the "total_votes" count is >= 20
total_votes_df = vine_df.loc[(vine_df["total_votes"] >= 20)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
884,R2PT2X8FMYFCV3,5,39,41,N,Y
917,RGCUQSH80SYY7,1,36,47,N,N
939,R3E6EI073KP0AL,2,21,36,N,Y
947,R3MYTXW7B4Z6YW,4,687,711,N,Y
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y

In [5]:
total_votes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3414 entries, 884 to 85980
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          3414 non-null   object
 1   star_rating        3414 non-null   int64
 2   helpful_votes      3414 non-null   int64
 3   total_votes        3414 non-null   int64
 4   vine               3414 non-null   object
 5   verified_purchase  3414 non-null   object
dtypes: int64(3), object(3)
memory usage: 186.7+ KB

In [19]:
# 2. Filter DF and create a new DF to retrieve all the rows where "helpful_votes"/"total_votes" >= 50%
helpful_votes_df = total_votes_df.loc[(total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5)]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
884,R2PT2X8FMYFCV3,5,39,41,N,Y
917,RGCUQSH80SYY7,1,36,47,N,N
939,R3E6EI073KP0AL,2,21,36,N,Y
947,R3MYTXW7B4Z6YW,4,687,711,N,Y
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y

In [20]:
# 3. Retrieve all rows where a review was part of the Vine program (paid)
yes_vine_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == 'Y')]
yes_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32351,R3R2RHQWEKX5NL,5,81,89,Y,N
32362,R1RZ4JZO8DAP7H,3,200,227,Y,N
32557,RQ94HI0WM8KIG,5,174,188,Y,N

In [21]:
# 4. Retrieve all rows where a review was not part of the Vine program (unpaid)
no_vine_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == 'N')]
no_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
884,R2PT2X8FMYFCV3,5,39,41,N,Y
917,RGCUQSH80SYY7,1,36,47,N,N
939,R3E6EI073KP0AL,2,21,36,N,Y
947,R3MYTXW7B4Z6YW,4,687,711,N,Y
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y

In [35]:
# 5. Number of Vine reviews
total_yes_vine_df = len(yes_vine_df)
total_yes_vine_df

3

In [36]:
# 5. Number of non-Vine reviews
total_no_vine_df = len(no_vine_df)
total_no_vine_df

3094

In [32]:
# 5. Number of 5-star Vine reviews
count_five_yes_vine_df = five_yes_vine_df["star_rating"].count()
count_five_yes_vine_df

2

In [33]:
# 5. Number of 5-star non-Vine reviews
count_five_no_vine_df = five_no_vine_df["star_rating"].count()
count_five_no_vine_df

1704

In [39]:
# 5. Percentage of Vine reviews 5-star
percentage_five_yes_vine = count_five_yes_vine_df/total_yes_vine_df * 100
percentage_five_yes_vine

66.66666666666666

In [40]:
# 5. Percentage of non-Vine reviews 5-star
percentage_five_no_vine= count_five_no_vine_df/total_no_vine_df * 100
percentage_five_no_vine

55.07433742727861